PORT=3001
MONGODB_URI=mongodb://localhost:27017/workbench
CAMUNDA_URI=http://localhost:8080/engine-rest
CAMUNDA_USERNAME=demo
CAMUNDA_PASSWORD=demo
API_BASE_URL=http://localhost:3000/api
INTERNAL_AUTH_HEADER=change-me-secret
